* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

a {
    color: #000;
    text-decoration: none;
}

.main-container {
    max-width: 100vw;
}

header {
    width: 100%;
    background-color: rgba(240, 240, 240, 0.3);
    border-bottom: 5px solid #862929;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 20px;
}

nav img {
    width: 80px;
    height: 80px;
}

.product {
    display: flex;
    margin: 0 auto;
    padding: 80px 10px;
    justify-content: space-around;
    background: url(./img/bg-product.svg) no-repeat;
    background-size: cover;
}

.product div {
    margin-top: 30px;
}

.product .description img.logo-site {
    width: 420px;
    margin-bottom: 40px;
}

.product .description p {
    margin-bottom: 20px;
}

.product .description #temporario {
    width: 580px;
}

.product .description img {
    width: 250px;

}


/*========== TEAM ============*/

.team {
    display: flex;
    justify-content: space-around;
    background-color: #BC4242;
    border-bottom: 5px solid #862929;
    padding: 60px;
}

.team div {
    text-align: center;
}

.team div img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
}

/*===========FORM=============*/
.form {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form .feedback-message p {
    width: 360px;
    text-align: center;
}

.form .feedback-message p:after,
.form .feedback-message p:before  {
    content: "";
    display: block;
    width: 140px;
    height: 3px;
    background: #862929;
    margin: 60px auto 8px auto;
}

.form .feedback-message p:before {
    margin: 8px auto 60px auto;
}